.main {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    margin-top: 5%;
}

.wrapper {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
    margin-top: -50px;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 100%;
    /* height: 120px; */
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.post  {
    width: 100%;
    /* height: auto; */
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
}

.info{
    width: 100%;
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20px;
}

.info .username {
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options {
    /* height: 10px; */
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile-pic {
    /* height: 40px; */
    width:69px;
    padding: 5%;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    /* padding: 5% 0 5% 0; */
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    /* padding-top: 2%; */
    /* height: 50px; */
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 2% 0;
}

.comment-wrapper .icon{
    /* height: 30px; */
    padding: 0% 1% 0 1%;
}

.comment-box{
    width: 80%;
    /* height: 100%; */
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn{
    width: 70px;
    /* height: 100%; */
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    /* padding-top: 2% 0 2% 0; */
    /* height: 50px; */
    display: flex;
    margin-top: -16px;
    align-items: center;
}

.reaction-wrapper .icon{
    /* height: 25px; */
    /* padding-top: -2%; */
    margin: 0;
    width: 5%;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}

.post2  {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}

.right-col{
    padding: 20px;
}

.profile-card{
    /* width: 90%; */
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic{
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img{
    border: none;
}

.profile-card .username{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    text-align: start;
}

.sub-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:12px;
    font-weight: 500;
    margin-top: 5px;
}

.action-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    /* margin-left: 20%; */
}

.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}

@media only screen and (max-width: 600px){
    .right-col, .search-box{
        display: none;
    }
    
    .nav-wrapper,
    .wrapper{
        width: 90%;
    }
    .wrapper{
        display: block;
    }
    .status-wrapper {
        margin-top: 9%;
    }
    
}

@media only screen and (max-width: 600px){
    .nav-items .icon{
        margin: 0 5px;
    }
    .post-image{
        height: 300px;
    }
}